Repository yuokamoto/two_points_interpolation_py: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, mypy-constant-acc, flake8

autopep8:
  name: autopep8 formatter
  entry: autopep8
  language: system
  args:
  - --in-place
  - --max-line-length=100

mypy-constant-acc:
  name: mypy (constant_acc)
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --max-line-length=100
  - --extend-ignore=E203,W503,D,Q,I,F841,W291,W293,E128

Fix E501 line length errors in constant_acc.py
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  docs/CHANGELOG.md
  docs/CONSTANT_ACC_DERIVATION.md
  docs/QUADRATIC_COEFFICIENTS_DERIVATION.md
  examples/example_constant_acc.py
  pyproject.toml
  tests/test_constant_acc.py
  two_point_interpolation/constant_acc.py
  two_point_interpolation/constant_jerk.py
Due: autopep8, mypy-constant-acc, flake8

Improve error messages for deceleration distance issues
  two_point_interpolation/constant_acc.py
Due: autopep8, mypy-constant-acc, flake8

Address code review feedback
  two_point_interpolation/constant_acc.py
Due: autopep8, mypy-constant-acc, flake8

Address additional code review feedback
  two_point_interpolation/constant_acc.py
Due: autopep8, mypy-constant-acc, flake8

Add comprehensive error condition tests
  tests/test_constant_acc.py
Due: none

Add edge cases analysis documentation
  .gitignore
  README.md
  docs/case1_progressive_distances.png
  docs/edge_cases_analysis.md
  docs/trajectory_comparison.png
Due: none

docs: Move Recent Improvements from README to CHANGELOG
  .github/workflows/ci.yml
  README.md
  docs/CHANGELOG.md
  docs/case2_fixed.png
  docs/edge_cases_analysis.md
  docs/trajectory_comparison.png
  tests/README.md
  tests/generate_plots.py
  tests/generate_plots_old.py
  tests/test_case_loader.py
  tests/test_cases.yaml
  tests/test_constant_acc.py.deprecated
  tests/test_yaml_cases.py
  two_point_interpolation/constant_acc.py
Due: autopep8, mypy-constant-acc, flake8

update pyproject.toml
  pyproject.toml
Due: none

fix version mismatch
  docs/CHANGELOG.md
  pyproject.toml
  two_point_interpolation/__init__.py
Due: autopep8

docs: Fix local path reference in edge cases analysis
  docs/edge_cases_analysis.md
Due: none

Address GitHub PR #4 Copilot review feedback
  tests/generate_plots.py
  tests/test_case_loader.py
  tests/test_yaml_cases.py
  two_point_interpolation/constant_acc.py
Due: autopep8, mypy-constant-acc, flake8

update README
  tests/README.md
Due: none

feat: Add TwoAngleInterpolation class with shortest path selection
  tests/test_yaml_cases.py
  two_point_interpolation/__init__.py
  two_point_interpolation/constant_acc.py
Due: autopep8, mypy-constant-acc, flake8

refactor: Address PR review comments for TwoAngleInterpolation
  tests/test_yaml_cases.py
  two_point_interpolation/constant_acc.py
Due: autopep8, mypy-constant-acc, flake8

refactor: Address additional PR review comments
  tests/test_yaml_cases.py
  two_point_interpolation/constant_acc.py
Due: autopep8, mypy-constant-acc, flake8

chore: Bump version to 1.3.0 for angle interpolation release
  docs/CHANGELOG.md
  pyproject.toml
  two_point_interpolation/__init__.py
Due: autopep8

feat: Add get_duration() and get_end_time() getter methods (v1.3.1)
  .github/workflows/ci.yml
  docs/CHANGELOG.md
  examples/example_constant_acc.py
  pyproject.toml
  tests/test_angle_interpolation.py
  tests/test_getters.py
  tests/test_yaml_cases.py
  two_point_interpolation/__init__.py
  two_point_interpolation/constant_acc.py
Due: autopep8, mypy-constant-acc, flake8

Path conditions:
  autopep8: any of: ^two_point_interpolation/ and \.py$
  mypy-constant-acc: any of: ^two_point_interpolation/constant_acc\.py$ and \.py$
  flake8: any of: ^two_point_interpolation/constant_acc\.py$ and \.py$
